* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
    text-align: center;
    line-height: 1.6;
    padding: 0 20px;
}

#header{
    text-align: center;
    background-color: rgb(155, 238, 66);
    font-style:bold;
    padding: 30px 0;
    
}

#h1 {
 text-align: center;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: rgb(240, 64, 64);
    text-decoration: none;
    display:inline-block;
    border-radius: 5px;
    padding: 5px 10px;
}

nav ul li a:hover{
    color: blue;
}

section{
    margin: 20px;
}

h2{
    margin-bottom: 9px;
}

.Feature-box{
    border: 1px solid #ddd;
}

footer{
    background: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

@media (max-width:600px){
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    .Feature-box{
        margin: 10px 0;
    }
}